@font-face {
    font-family: "Roboto";
    src: local("Roboto"), local("Roboto-Regular"), url("fonts/Roboto.woff2") format("woff2"), url("fonts/Roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: local("Playfair Display Black"), local("PlayfairDisplay-Black"), url("fonts/Playfairdisplayblack.woff2") format("woff2"), url("fonts/Playfairdisplayblack.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

html,
body {
    display: flex;
    flex-direction: column;
    min-width: 1170px;
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    color: rgba(0, 0, 0, 1);
    background-color: #ffffff;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.container {
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}


/*-----------------------ШАПКА-----------------------*/

.page-header {
    width: 1170px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 45px;
    padding: 0 10px;
}

.header-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-logo {
    margin: 0;
    margin-bottom: 31px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.site-navigation .menu-item {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    list-style: none;
    line-height: 18px;
    letter-spacing: 2px;
}

.site-navigation .menu-item:last-child {
    padding-right: 0;
}

.site-navigation .menu-item a {
    color: rgba(0, 0, 0, 1);
}

.site-navigation .menu-item a:hover {
    color: rgba(255, 121, 49, 1);
}

.site-navigation .menu-item a:active {
    color: rgba(255, 121, 49, 0.5);
}


/*-----------------------РЕКЛАМА-----------------------*/

.main-post {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1440px;
    height: 464px;
    margin-bottom: 44px;
    background: url("../img/post-image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.post-container {
    margin: 0 auto;
    padding-top: 138px;
    padding-bottom: 48px;
}

.post-title {
    position: relative;
    margin: 0;
    margin-bottom: 48px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.post-content {
    max-width: 456px;
    margin: 0 auto;
    padding-top: 90px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
}

.post-title::after {
    position: absolute;
    content: "";
    width: 55px;
    height: 55px;
    top: -100px;
    right: 47%;
    border-radius: 50%;
    background: url("../img/post-logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(255, 121, 49);
}


/*-----------------------ОБЗОР----------------------*/

.review {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 53px;
}

.review h2.review-title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

figure.review-item {
    margin: 0;
}

.review .review-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.review-item {
    width: 370px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.review-item a {
    color: #000000;
}

.review-item a:hover {
    opacity: 0.8;
}

.review-item a:active {
    opacity: 0.5;
}

.review-item .annotation-caption {
    padding-top: 17px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
}

.review-item .annotation-caption a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.review-item .annotation-caption a:hover {
    color: rgb(255, 121, 49);
}

.review-item .annotation-caption a:active {
    color: rgba(255, 121, 49, 0.7);
}

.review-item .review-annotation {
    width: 370px;
    margin: 0;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
}


/*----------------------АБОНЕМЕНТ-----------------------*/

.season-ticket {
    padding: 30px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    background-color: #f7f7f7;
    background-image: url("../img/Ellipse.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.season-ticket .ticket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    width: 700px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.season-ticket .ticket-caption {
    margin: 0;
    padding-bottom: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.ticket .ticket-info {
    position: relative;
    margin-bottom: 25px;
    list-style: none;
}

.ticket-info .ticket-title {
    margin: 0;
    padding-bottom: 7px;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
}

.ticket-info a {
    text-decoration: none;
    color: #000000;
}

.ticket-info a:hover {
    color: rgba(255, 121, 49, 1);
}

.ticket-info .ticket-title a:active {
    color: rgba(255, 121, 49, 0.7);
}

.ticket-info .ticket-description {
    display: inline-block;
    width: 370px;
    min-height: 63px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}

.ticket-info .ticket-line::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 135px;
    width: 100px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-see {
    position: relative;
    width: 150px;
    padding: 15px 30px;
    padding-right: 60px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: rgba(255, 121, 49, 1);
}

.ticket-info a.btn-see {
    color: #ffffff;
}

.btn-see:hover {
    background-color: rgb(209, 119, 15);
}

.btn-see:active {
    background-color: rgba(209, 119, 15, 0.7);
}

.ticket .btn-see::after {
    content: " ";
    position: absolute;
    top: 10px;
    margin-left: 7px;
    width: 24px;
    height: 25px;
    background-image: url("../img/Arrow.svg");
    background-repeat: no-repeat;
}


/*-----------------------ПОДВАЛ-----------------------*/

.page-footer {
    color: #ffffff;
    background-color: #575757;
}

.page-footer .container {
    width: 1170px;
    margin: 0 auto;
}

.page-footer h2 {
    margin: 0;
    margin-top: 21px;
    margin-bottom: 28px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 47px;
    letter-spacing: 1px;
    text-align: center;
}

.page-footer .site-navigation {
    margin: 0;
    padding-bottom: 45px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

ul.footer-menu .menu-item:last-child {
    padding-right: 0;
}

.page-footer .menu-item a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.page-footer .menu-item a:hover {
    color: rgba(255, 121, 49, 1);
}

.page-footer .menu-item a:active {
    color: rgba(255, 121, 49, 0.5);
}

.footer-icon {
    margin-top: 26px;
    margin-bottom: 46px;
    text-align: center;
}

.social-btn {
    display: inline-block;
    width: 47px;
    height: 47px;
    margin-right: 10px;
    font-size: 0;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 1);
}

.social-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.social-btn:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.instagram-icon {
    background-image: url("../img/instagram-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.facebook-icon {
    background-image: url("../img/facebook-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.twitter-icon {
    background-image: url("../img/twitter-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 0;
}